RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^lsohealthcare\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.lsohealthcare\.com$
RewriteRule ^(.*)$ "https\:\/\/lsohealthcare\.com\/$1" [R=301,L]

